<h1 class="page-title">NEWS</h1>
{{#if articles.length}}
    {{#each articles}}
        <article class="card">
            <div class="card__items-container">
                <p class="card__data--created">{{getTimeAll published_at}}</p>
                <div class="card__block">
                    <div class='card__block--left'>
                        <a href='{{link}}' rel='noreferrer noopener'>
                            <img class="card__img-block" src='/{{main_image}}'>
                        </a>
                    </div>
                    <div class='card__block--right'>
                        <a href='{{link}}' rel='noreferrer noopener'>
                            <h5 class="card__title">{{title}}</h5>
                        </a>
                        <p class="card__description">{{getDescription summary}}</p>
                        <a class="card__read-more" href='{{link}}' rel='noreferrer noopener'>Read more</a>
                    </div>
                </div>
            </div>
        </article>
    {{/each}}
{{else}}
    <p>Articles not found</p>
{{/if}}
